# ENVIRONMENT LEVEL CONFIG
# NODE_ENV=development/staging/production
NODE_ENV=

# RESTFUL API CONFIG
RESTFUL_API_HOST_PORT=
RESTFUL_API_CONTAINER_PORT=

# POSTGRES CONFIG
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

POSTGRES_HOST_PORT=
POSTGRES_CONTAINER_PORT=

# REDIS CONFIG
REDIS_PASSWORD=
REDIS_HOST_PORT=
REDIS_CONTAINER_PORT=

